* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: yellow; */
}
/* background: linear-gradient(to right, blue, pink); */
nav {
    background: linear-gradient(to right, #256D85, #1C3879);
    color: white;
    text-align: center;
    height: 100px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 6px;
    font-size: 3rem;
}

main {
    /* background: lightblue; */
    margin-top: 30px;
    display: flex;
}

.city-search {
    /* background: lightpink; */
    width: 500px;
    /* margin-left: 30px; */
    /* margin-top: px; */
}

.search-container {
    width: 500px;
    margin-left: 30px;
    margin-top: -15px;
    /* background: yellow; */
}

h1, h2 {
    font-weight: bold;
    font-size: 2rem;
}

input {
    width: 350px;
    height: 50px;
    border-radius: 4px; 
   

}

button {
    background: #3B9AE1;
    width: 350px;
    height: 40px;
    margin-top: 20px;
    font-size: 1.1rem;
    color: #C1EFFF;
    border:  none;
    border-radius: 4px;
} 

.weather-container {
    /* background: lightgreen; */
    width: 1080px;
    margin-left: 20px;
}

.weather-area {
    /* background: lightgray; */
    height: 300px;   
    border: 1px solid black;
    padding-left: 7px;
    padding-top: 10px;
}

.five-days {
    /* background: lightsalmon; */
    display: flex;
    gap: 20px;   
}


h3 {
    margin-top:10px;
}

.day {
    width: 200px;
    height: 220px;
    background: #2B4865;
    color: white;
    /* line-height: 37px; */
    padding-top: 5px;
    padding-left: 5px;
}

ul {
    list-style-type: none;
    font-size: 1.1rem;
    line-height: 37px;
}
